{{ partial "header.html" . }}


{{ .Content }}
<!-- 
            Grid layout left-column: guestbook, top-right: updates, bottom-right: random?
            I'll use a flexbox so that it'll scale responsively in mobile devices.
            One flexbox with two items. (Left + right (Large screens) top+bottom (mobile))
            First item: Div with guestbook
            Second item: Div with 2xdivs inside (updates and random).
        -->
<div id="home-flex-container">
    <div id="left-container" class="body-container">
        <u>
            <h2>Leave a message!</h2>
        </u>
        <!-- begin wwww.htmlcommentbox.com -->
 <div id="HCB_comment_box">Comments are loading! <br> <img src="http://pa1.narvii.com/7064/16627aec9acb1ee3f185f46d27132039c4dfa18f_00.gif"></div>
 <link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
 <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&opts=16862&num=10&ts=1620037168126");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
<!-- end www.htmlcommentbox.com -->
    </div>
    <div class="right-container">
        <div id="body-container" class="body-container">
            <u>
                <h2>Updates</h2>
            </u>
            <p class="body-text">What's been going on with this website, and maybe my life?</p>
            <div id="update-box">
                {{ partial "updatebox.html" . }}
            </div>
        </div>
        <div id="random-container" class="body-container">
            <u>
                <h2>My latest blog post</h2>
            </u>
            <div id="trending-container" class="blog-container">
                <div class="blog-container-overlay">

                    {{ range first 1 .Site.Taxonomies.categories.blog }}

                    <h3 class="blog-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                    <p class="blog-date"><time>{{ $.Date.Format "2006, January 2, Mon" }}</time></p>
                    <div class="blog-image-overflow">
                    </div>
                    <p class="blog-caption">
                        {{ .Summary }}
                    </p>
                    {{ if .Truncated }}
                        <div>
                            <a href="{{ .Permalink }}" class="blog-readmore">Read more...</a>
                        </div>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}