{{ partial "header.html" . }}
        <!-- Main section -->
        <div id="blog-flex-container">
          <div class="body-container" id="blog-bodycontainer">
                {{ range .Pages.ByPublishDate.Reverse }}
                  <article class="blog-container" id="blog-item1">
                    <div class="blog-container-overlay">
                        <h3 class="blog-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                        <p class="blog-date">	<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                          {{ dateFormat "2006, Jan 06, Mon" .Date }}
                        </time></p>
                        <div class="blog-image-overflow">
                        </div>
                        <p class="blog-caption">{{ .Content }}</p>
                    </div>
                </article>
                {{ end }}
          </div>
          <div class="body-container" id="blog-tagcontainer">
            <div class="search-container">
              <input type="text" class="searchbar">
              <input type="button" class="searchbutton" value="Search!">
          </div>
          </div>
      </div>
  </header>
{{ partial "footer.html" . }}
