{{ partial "header.html" . }}
        <!-- Main section -->
        <div id="blog-flex-container">
          <div class="body-container" id="blog-bodycontainer">
                {{ range .Pages.ByPublishDate.Reverse }}
                  <article class="blog-container">
                    <div class="blog-container-overlay">
                        <h3 class="blog-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                        <p class="blog-date"><time>{{ .Date.Format "2006, January 2, Mon" }}</time></p>
                        <div class="blog-image-overflow">
                        </div>
                        <p class="blog-caption">{{ .Summary }}</p>
                        {{ if .Truncated }}
                        <div>
                            <a href="{{ .Permalink }}" class="blog-readmore">Read more...</a>
                        </div>
                    </div>
                    {{ end }}
                </article>
                {{ end }}
          </div>
          {{ partial "sidebar.html" . }}
      </div>
  </header>
{{ partial "footer.html" . }}
