{{ partial "header.html" . }}

<div id="blog-flex-container">
    <div class="body-container" id="blog-bodycontainer">
        <article class="blog-container">
            <div class="blog-container-overlay">
                <h1>{{ .Title }}</h1>
                <p class="blog-date"><time>{{ .Date.Format "2006, January 2, Mon" }}</time></p>
                {{ .Content }}
            </div>
        </article>
    </div>
    {{ partial "sidebar.html" . }}
</div>
</div>

{{ partial "footer.html" . }}
