<header class="site-header">
  <div id="banner-img-container">
    <p class="welcome-txt"> Welcome to...</p>
    <a href="{{ .Site.BaseURL }}">
        <h1><div id="banner-img"></h1>
    </a>
</div>
  <nav class="site-nav">
    <div class="navbar">
      |  <a class="nav-item" href="{{ .Site.BaseURL }}">Home</a>  |
      {{ range.Site.Menus.main }}
      <a>
        <a  class="nav-item" href="{{ .URL }}">{{ .Name }}</a>  |
      </a>
      {{ end }}
    </div>
  </nav>
      {{ partial "changecolour.html" }}
</header>
